## this is need to make sure to correctly format images and text in the entire twine project ##
.passage img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centered-image {
	display: block;
  	text-align: center;
}
